doctype 
html
 head
  title first practice in pug and sass 
 body 
  nav(class="navber")
   div(class="logoAndTitle")
    img(src="", alt="", srcset="" class="logo")
    spna template dsgn
   div(class="theLinks")
    - for (let i=0;i<6; i++)
       a(href="http://") About 
  div(class="allRow")
   div(class="firstRow")
    div(class="allInfo")
     img(src="", alt="", srcset="" class="iconProfil")
     div(class="firstIput")
      div icons and inputeText
     div(class="SecondIput")
      div icons and inputePsword 
     button(type="submit") Login 
     div(class="towTextFlex")
      div(class="rememberMe") remamber me 
      div(class="forgetMyPassowrd") forget my passowerd 
   div(class="secondRow")
    div(class="welcome") welcome.
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas molestias illum ducimus corporis minus itaque suscipit aspernatur est numquam mollitia?
    div(class="endTitle") this is a link . 

   